<style>
    
</style>
<script type='text/javascript'>
    filter=[]
    numeric=[]
    date=[]
    let gridApi;
    const gridOptions = {
        rowData: [{"a":0,"b":1,"c":6,"date":"2022-05-03"},{"a":1,"b":35,"c":7,"date":"2022-06-02"},{"a":2,"b":134,"c":6,"date":"2022-03-10"},{"a":3,"b":868,"c":7,"date":"2022-01-08"},{"a":4,"b":34,"c":0,"date":"2022-08-01"}],
        defaultColDef: {
            flex: 1,
            filter: true,
            editable: true,
            enableValue: true,
            enableRowGroup: true,
            enablePivot: true,
            
        },
        columnDefs: [{ field: 'a', },
{ field: 'b', },
{ field: 'c', },
{ field: 'date', },
],
        
    }
    const myGridElement = document.querySelector('#grid-container');
    gridApi = agGrid.createGrid(myGridElement, gridOptions);

    function cellNumberRenderer(params, currency="", short=false, separator=true) {
        if (params.value === null || params.value === NaN || isNaN(parseFloat(params.value)))
            return params.value;

        let settings = {}
        if (short) {
            settings["notation"] = "compact";
            settings["compactDisplay"] = "short";
            settings["currencyDisplay"] = "narrowSymbol";
        }

        settings["useGrouping"] = separator;
        
        if (currency !== "") {
            settings["style"] = "currency";
            settings["currency"] = currency;
        }
        
        let formatter = new Intl.NumberFormat("en-GB", settings);
        return formatter.format(Number(params.value));
    }

    function cellRenderer(params) {
        return params.value;
    }
      
</script>
